/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;

}

/* Utility */

.form-group {
    margin-bottom: 20px;
}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;


}

.clr {
    clear: both;
}

a, a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}


.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}


.bg-dark {
    background: #333;
    color: white;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

/* Navbar */
nav {
    background: #333;
    overflow: auto;
}

nav a {
    color: white;
}

nav h1 {
    float: left;
    padding: 15px;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
} 

nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

nav ul li a.current, nav ul li a:hover {
    background: #444;
    color: #f7c08a;
}

/* Showcase Section */

#showcase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    background-size: cover;
    height: 600px;
    color: white;
    text-align: center;
    padding-top: 170px;
} 

#showcase h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase p {
    font-size: 20px;
    line-height: 1.7em; 
    padding-bottom: 20px;
}

/* Home Info. */
#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("../img/photo-1.jpg") no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p {
    margin-bottom: 30px;
}

/* Features */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    min-height: 300px;
}

/* About Info */
#about-info .info-left {
    float: left;
    width: 50%; 
    min-height: 100%;
}

#about-info .info-left h1 {
    font-size: 40px;
    line-height: 1.2em;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

/* Testimonial */
#testimonials {
    background: url("../img/test-bg.jpg") no-repeat center center/cover;
    height: 100%;
    padding-top: 100px;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding-bottom:40px;
    font-size: 40px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    opacity: 0.9;
}

/* Contact */
#contact-form h1 {
    font-size: 40px;
    line-height: 1.2em;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #444;
    color: white;
}

/* Types of Rooms */

/* Non-Smoking */
/* <i class="fas fa-smoking-ban"></i> */

/* Smoking */
/* <i class="fas fa-smoking"></i> */

/* Jaccuzi Suite */
/* <i class="fas fa-hot-tub"></i> */



/* Company Staff */

/* Money Exchange */
/* <i class="fas fa-hand-holding-usd"></i> */

/* Request Gift Wrap + Personal Shopper */
/* <i class="fas fa-gifts"></i> */

/* Request Mail Delievery */
/* <i class="fas fa-mail-bulk"></i> */

/* Request Pizza Delivery */
/* <i class="fas fa-pizza-slice"></i> */

/* Request Room Service */
/* <i class="fas fa-concierge-bell"></i> */

/* Request a Somalie */
/* <i class="fas fa-wine-bottle"></i> */

/* Request a Consierge */
/* <i class="fas fa-user-tie"></i> */



/* Automotive Icons */

/* Parking */
/* <i class="fas fa-parking"></i> */

/* Local Gas Stations */
/* <i class="fas fa-gas-pump"></i> */

/* Request an Oil Change */
/* <i class="fas fa-oil-can"></i> */

/* Request a Battery Change */
/* <i class="fas fa-car-battery"></i> */

/* Local Electric Charging Stations */
/* <i class="fas fa-charging-station"></i> */



/* Public Safety Icons */

/* Pedestrian Safety Zone */
/* <i class="fas fa-street-view"></i> */

/* US Passort + Federal ID */
/* <i class="fas fa-id-card"></i> */

/* State IDs + Driver's License */
/* <i class="far fa-address-card"></i> */




/* Gemstone Club Levels */

/* Sapphire */
/* <i class="fas fa-gem"></i> */

/* Diamond */
/* <i class="far fa-gem"></i> */


/* Business Class */

/* Request a Business Function Room */
/* <i class="fas fa-business-time"></i> */

/* Request a Local Consultant */
/* <i class="far fa-handshake"></i> */

/* Request a Local Network Rep*/
/* <i class="fas fa-handshake"></i> */



/* Green Transportation */

/* Horse + Carriage */
/* <i class="fas fa-horse"></i> */

/* Local Bike Sharing Stations */
/* <i class="fas fa-bicycle"></i> */

/* Request a Hotel Shuttle */
/* <i class="fas fa-shuttle-van"></i> */

/* Public Transit */
/* <i class="fas fa-subway"></i> */



/* Moving + Baggage Transfer */

/* Request a Luggage Cart */
/* <i class="fas fa-luggage-cart"></i> */

/* Request a Bell Cap + Sky Cap */
/* <i class="fas fa-people-carry"></i> */

/* Request a Chauffeur */
/* <i class="fas fa-car"></i> */

/* Request a Team + Wedding Bus */
/* <i class="fas fa-bus-alt"></i> */

/* Request a Moving Truck */
/* <i class="fas fa-truck"></i> */

/* Request a Vallet + Airport Transfer */
/* <i class="fas fa-helicopter"></i> */



/* Exercise Icons */

/* Walk */
/* <i class="fas fa-walking"></i> */

/* Run */
/* <i class="fas fa-running"></i> */

/* Hike */
/* <i class="fas fa-hiking"></i> */

/* Snowboard */
/* <i class="fas fa-snowboarding"></i> */



/* Sports + Entertainment Icons */

/* Local Hangout Spots */
/* <i class="fas fa-spider"></i> */

/* Local Music Clubs + Shows */
/* <i class="fas fa-music"></i> */

/* Local Golf Clubs */
/* <i class="fas fa-golf-ball"></i> */

/* College + Pro Football Tickets */
/* <i class="fas fa-football-ball"></i> */

/* College + Pro Basketball Tickets */
/* <i class="fas fa-basketball-ball"></i> */

/* Request Red Sox Tickets */
/* <i class="fas fa-socks"></i> */

/* Local Casino Locations */
/* <i class="fas fa-dice"></i> */



/* Environment Icons */

/* Fish */
/* <i class="fas fa-fish"></i> */

/* Rainforests */
/* <i class="fas fa-otter"></i> */

/* Domestic Animals */
/* <i class="fas fa-dog"></i> */

/* Cat */
/* <i class="fas fa-cat"></i> */

/* Plant Life */
/* <i class="fab fa-pagelines"></i> */



/* Weather Icons */

/* Sunny + Cloudy Day */
/* <i class="fas fa-cloud-sun"></i> */

/* Rain + Snow Predicted */
/* <i class="fas fa-cloud-sun-rain"></i> */


/* Local Coffee Shops */

/* Coffee */
/* <i class="fas fa-mug-hot"></i> */

/* Coffee Shops + Wifi */
/* <i class="fas fa-wifi"></i> */

/* Marijuana Friendly Coffee Shops */
/* <i class="fas fa-tree"></i> */

/* Cannabis Shop */
/* <i class="fas fa-cannabis"></i> */